// Vars
@import '_vars';
@import '_colours';

/*!
* DEP ROBOT v 1.25
* Copyright 2017 By RafaelDuim [rafaelduim.com.br].
* Productor: Rafael Duim [rafaelduim.com.br]
* Developer - HTML/CSS: RafaelDuim
*/

// Helpers
$style-theme: true;
@import 'helpers/_mixin';
@import 'helpers/_extends';
@import 'helpers/_extend-class';
@import 'helpers/_text';
@import 'helpers/_spacing';
@import 'helpers/_sprites';
$width: 580px;
$height: 400px;
@import '_all';

body {
    .banner {
        * {
            @extend %position-relative;
        } 
        .banner-imagem {
            height: 93px !important;
        }
        label {
            font-weight: 600;
            font-size: 13px;
        }
        .banner-form {
            @extend %position-relative;
            height: 297px;
            .banner-grupo {
                margin-bottom: 7px
            }
            input[type="text"],
            select {
                border: 1px
            }
            .banner-botao {
                width: 204px;
                margin-left: 170px;
                margin-top: 12px
            }
        }
    }

    .ui-helper-hidden-accessible {
        display: none;
    }
}

body[cliente="cobramseg-2018"] {
    .banner {
        background-image: url(https://cdn.depassaporte.com.br/banners/imagens/banners/580x400/clientes/banner-cobramseg-2018.jpg) !important;
        label {
            color: #FFF;
        }
        .banner-form {
            
            
            input[type="submit"] {
                background: #ff6f37 !important;
                width: 204px;
                height: 47px;
                margin: 0;
                color: #FFF;
                text-indent: 0;
                text-transform: uppercase;
                font-size: 22px;
                line-height: 45px;
                font-weight: bold;
                border-radius: 5px
            }
            .icone {
                width: 20px;
                height: 27px
            }
            .banner-duracao {
                .banner-grupo {
                    margin-left: 10px
                }
            }
            .banner-ida-e-volta {
                width: 280px;
                margin: 11px 0 0 157px;
                .marcador-fake {
                    background-image: url(https://cdn.depassaporte.com.br/banners/imagens/icones/580x400/clientes/marcador-fake-cidem.png);
                    height: 16px;
                    width: 16px
                }
            }
            .banner-localidades {
                .icone {
                    background: url(https://cdn.depassaporte.com.br/banners/imagens/icones/580x400/clientes/ico-localidades-universicon.png) top center no-repeat !important
                }
                .voltando {
                    .icone {
                        background: url(https://cdn.depassaporte.com.br/banners/imagens/icones/580x400/clientes/ico-localidades-universicon-voltando.png) top center no-repeat !important
                    }
                }
            }
            .banner-pessoas {
                width: 350px;
                .icone {
                    &.adulto {
                        background: url(https://cdn.depassaporte.com.br/banners/imagens/icones/580x400/clientes/ico-adulto-universicon.png) top center no-repeat !important
                    }
                    &.crianca {
                        background: url(https://cdn.depassaporte.com.br/banners/imagens/icones/580x400/clientes/ico-crianca-universicon.png) top center no-repeat !important
                    }
                    &.bebe {
                        background: url(https://cdn.depassaporte.com.br/banners/imagens/icones/580x400/clientes/ico-bebe-universicon.png) top center no-repeat !important
                    }
                }
                p {
                    color: #FFF
                }
            }
        }
    }
}

body[cliente="procuradores-2018"] {
    .banner {
        background-image: url(https://cdn.depassaporte.com.br/banners/imagens/banners/580x400/clientes/banner-procuradores-2018.jpg) !important;
        label {
            color: #000;
        }
        .banner-form {
            input[type="submit"] {
                background: #0072bc !important;
                width: 204px;
                height: 47px;
                margin: 0;
                color: #FFF;
                text-indent: 0;
                text-transform: uppercase;
                font-size: 22px;
                line-height: 45px;
                font-weight: bold;
                border-radius: 5px
            }
            .icone {
                width: 20px;
                height: 27px
            }
            .banner-duracao {
                .banner-grupo {
                    margin-left: 10px
                }
            }
            .banner-ida-e-volta {
                width: 280px;
                margin: 11px 0 0 157px;
                .marcador-fake {
                    background-image: url(https://cdn.depassaporte.com.br/banners/imagens/icones/580x400/clientes/marcador-fake-cidem.png);
                    height: 16px;
                    width: 16px
                }
            }
            .banner-localidades {
                .icone {
                    background: url(https://cdn.depassaporte.com.br/banners/imagens/icones/580x400/clientes/ico-localidades-preto.png) top center no-repeat !important
                }
                .voltando {
                    .icone {
                        background: url(https://cdn.depassaporte.com.br/banners/imagens/icones/580x400/clientes/ico-localidades-preto-voltando.png) top center no-repeat !important
                    }
                }
            }
            .banner-pessoas {
                width: 350px;
                .icone {
                    &.adulto {
                        background: url(https://cdn.depassaporte.com.br/banners/imagens/icones/580x400/clientes/ico-adulto-preto.png) top center no-repeat !important
                    }
                    &.crianca {
                        background: url(https://cdn.depassaporte.com.br/banners/imagens/icones/580x400/clientes/ico-crianca-preto.png) top center no-repeat !important
                    }
                    &.bebe {
                        background: url(https://cdn.depassaporte.com.br/banners/imagens/icones/580x400/clientes/ico-bebe-preto.png) top center no-repeat !important
                    }
                }
                p {
                    color: #000
                }
            }
        }
    }
}

body[cliente="defesa-agropecuaria-2018"] {
    .banner {
        background-image: url(https://cdn.depassaporte.com.br/banners/imagens/banners/580x400/clientes/banner-defesa-agropecuaria-2018.jpg) !important;
        label {
            color: #FFF;
        }
        .banner-form {
            input[type="submit"] {
                background: #ed1c24 !important;
                width: 204px;
                height: 47px;
                margin: 0;
                color: #FFF;
                text-indent: 0;
                text-transform: uppercase;
                font-size: 22px;
                line-height: 45px;
                font-weight: bold;
                border-radius: 5px
            }
            input[type="text"],
            select {
                font-size: 12px;
            }
            .icone {
                width: 20px;
                height: 27px
            }
            .banner-duracao {
                .banner-grupo {
                    margin-left: 10px
                }
            }
            .banner-ida-e-volta {
                width: 280px;
                margin: 11px 0 0 157px;
                .marcador-fake {
                    background-image: url(https://cdn.depassaporte.com.br/banners/imagens/icones/580x400/clientes/marcador-fake-cidem.png);
                    height: 16px;
                    width: 16px
                }
            }
            .banner-localidades {
                .icone {
                    background: url(https://cdn.depassaporte.com.br/banners/imagens/icones/580x400/clientes/ico-localidades-branco.png) top center no-repeat !important
                }
                .voltando {
                    .icone {
                        background: url(https://cdn.depassaporte.com.br/banners/imagens/icones/580x400/clientes/ico-localidades-branco-voltando.png) top center no-repeat !important
                    }
                }
            }
            .banner-pessoas {
                width: 350px;
                .icone {
                    &.adulto {
                        background: url(https://cdn.depassaporte.com.br/banners/imagens/icones/580x400/clientes/ico-adulto-branco.png) top center no-repeat !important
                    }
                    &.crianca {
                        background: url(https://cdn.depassaporte.com.br/banners/imagens/icones/580x400/clientes/ico-crianca-branco.png) top center no-repeat !important
                    }
                    &.bebe {
                        background: url(https://cdn.depassaporte.com.br/banners/imagens/icones/580x400/clientes/ico-bebe-branco.png) top center no-repeat !important
                    }
                }
                p {
                    color: #FFF
                }
            }
        }
    }
}

body[cliente="cioba-2018"] {
    .banner {
        background-image: url(https://cdn.depassaporte.com.br/banners/imagens/banners/580x400/clientes/banner-cioba-2018.jpg) !important;
        label {
            color: #FFF;
        }
        .banner-form {
            input[type="submit"] {
                background: #b81715 !important;
                width: 204px;
                height: 47px;
                margin: 0;
                color: #FFF;
                text-indent: 0;
                text-transform: uppercase;
                font-size: 22px;
                line-height: 45px;
                font-weight: bold;
                border-radius: 5px
            }
            .icone {
                width: 20px;
                height: 27px
            }
            .banner-duracao {
                .banner-grupo {
                    margin-left: 10px
                }
            }
            .banner-ida-e-volta {
                width: 280px;
                margin: 11px 0 0 157px;
                .marcador-fake {
                    background-image: url(https://cdn.depassaporte.com.br/banners/imagens/icones/580x400/clientes/marcador-fake-cidem.png);
                    height: 16px;
                    width: 16px
                }
            }
            .banner-localidades {
                .icone {
                    background: url(https://cdn.depassaporte.com.br/banners/imagens/icones/580x400/clientes/ico-localidades-branco.png) top center no-repeat !important
                }
                .voltando {
                    .icone {
                        background: url(https://cdn.depassaporte.com.br/banners/imagens/icones/580x400/clientes/ico-localidades-branco-voltando.png) top center no-repeat !important
                    }
                }
            }
            .banner-pessoas {
                width: 350px;
                .icone {
                    &.adulto {
                        background: url(https://cdn.depassaporte.com.br/banners/imagens/icones/580x400/clientes/ico-adulto-branco.png) top center no-repeat !important
                    }
                    &.crianca {
                        background: url(https://cdn.depassaporte.com.br/banners/imagens/icones/580x400/clientes/ico-crianca-branco.png) top center no-repeat !important
                    }
                    &.bebe {
                        background: url(https://cdn.depassaporte.com.br/banners/imagens/icones/580x400/clientes/ico-bebe-branco.png) top center no-repeat !important
                    }
                }
                p {
                    color: #FFF
                }
            }
        }
    }
}