@import '_margin';
@import '_padding';

%flex-1 {
	flex: 1;
}

%justify-content-center {
	justify-content: center;
}

%justify-content-start {
	justify-content: flex-start;
}

%align-items-center {
	align-items: center;
}