// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$ico-access-user-name: 'ico-access-user';
$ico-access-user-x: 158px;
$ico-access-user-y: 111px;
$ico-access-user-offset-x: -158px;
$ico-access-user-offset-y: -111px;
$ico-access-user-width: 78px;
$ico-access-user-height: 78px;
$ico-access-user-total-width: 388px;
$ico-access-user-total-height: 375px;
$ico-access-user-image: '../images/sprite/sprite.png';
$ico-access-user: (158px, 111px, -158px, -111px, 78px, 78px, 388px, 375px, '../images/sprite/sprite.png', 'ico-access-user', );
$ico-account-confirm-user-name: 'ico-account-confirm-user';
$ico-account-confirm-user-x: 79px;
$ico-account-confirm-user-y: 111px;
$ico-account-confirm-user-offset-x: -79px;
$ico-account-confirm-user-offset-y: -111px;
$ico-account-confirm-user-width: 78px;
$ico-account-confirm-user-height: 78px;
$ico-account-confirm-user-total-width: 388px;
$ico-account-confirm-user-total-height: 375px;
$ico-account-confirm-user-image: '../images/sprite/sprite.png';
$ico-account-confirm-user: (79px, 111px, -79px, -111px, 78px, 78px, 388px, 375px, '../images/sprite/sprite.png', 'ico-account-confirm-user', );
$ico-account-no-confirm-user-name: 'ico-account-no-confirm-user';
$ico-account-no-confirm-user-x: 0px;
$ico-account-no-confirm-user-y: 190px;
$ico-account-no-confirm-user-offset-x: 0px;
$ico-account-no-confirm-user-offset-y: -190px;
$ico-account-no-confirm-user-width: 78px;
$ico-account-no-confirm-user-height: 78px;
$ico-account-no-confirm-user-total-width: 388px;
$ico-account-no-confirm-user-total-height: 375px;
$ico-account-no-confirm-user-image: '../images/sprite/sprite.png';
$ico-account-no-confirm-user: (0px, 190px, 0px, -190px, 78px, 78px, 388px, 375px, '../images/sprite/sprite.png', 'ico-account-no-confirm-user', );
$ico-account-ticket-name: 'ico-account-ticket';
$ico-account-ticket-x: 158px;
$ico-account-ticket-y: 190px;
$ico-account-ticket-offset-x: -158px;
$ico-account-ticket-offset-y: -190px;
$ico-account-ticket-width: 78px;
$ico-account-ticket-height: 78px;
$ico-account-ticket-total-width: 388px;
$ico-account-ticket-total-height: 375px;
$ico-account-ticket-image: '../images/sprite/sprite.png';
$ico-account-ticket: (158px, 190px, -158px, -190px, 78px, 78px, 388px, 375px, '../images/sprite/sprite.png', 'ico-account-ticket', );
$ico-applestore-name: 'ico-applestore';
$ico-applestore-x: 0px;
$ico-applestore-y: 269px;
$ico-applestore-offset-x: 0px;
$ico-applestore-offset-y: -269px;
$ico-applestore-width: 102px;
$ico-applestore-height: 35px;
$ico-applestore-total-width: 388px;
$ico-applestore-total-height: 375px;
$ico-applestore-image: '../images/sprite/sprite.png';
$ico-applestore: (0px, 269px, 0px, -269px, 102px, 35px, 388px, 375px, '../images/sprite/sprite.png', 'ico-applestore', );
$ico-attention-error-name: 'ico-attention-error';
$ico-attention-error-x: 161px;
$ico-attention-error-y: 0px;
$ico-attention-error-offset-x: -161px;
$ico-attention-error-offset-y: 0px;
$ico-attention-error-width: 83px;
$ico-attention-error-height: 82px;
$ico-attention-error-total-width: 388px;
$ico-attention-error-total-height: 375px;
$ico-attention-error-image: '../images/sprite/sprite.png';
$ico-attention-error: (161px, 0px, -161px, 0px, 83px, 82px, 388px, 375px, '../images/sprite/sprite.png', 'ico-attention-error', );
$ico-close-box-name: 'ico-close-box';
$ico-close-box-x: 146px;
$ico-close-box-y: 305px;
$ico-close-box-offset-x: -146px;
$ico-close-box-offset-y: -305px;
$ico-close-box-width: 20px;
$ico-close-box-height: 20px;
$ico-close-box-total-width: 388px;
$ico-close-box-total-height: 375px;
$ico-close-box-image: '../images/sprite/sprite.png';
$ico-close-box: (146px, 305px, -146px, -305px, 20px, 20px, 388px, 375px, '../images/sprite/sprite.png', 'ico-close-box', );
$ico-edit-address-name: 'ico-edit-address';
$ico-edit-address-x: 245px;
$ico-edit-address-y: 0px;
$ico-edit-address-offset-x: -245px;
$ico-edit-address-offset-y: 0px;
$ico-edit-address-width: 78px;
$ico-edit-address-height: 78px;
$ico-edit-address-total-width: 388px;
$ico-edit-address-total-height: 375px;
$ico-edit-address-image: '../images/sprite/sprite.png';
$ico-edit-address: (245px, 0px, -245px, 0px, 78px, 78px, 388px, 375px, '../images/sprite/sprite.png', 'ico-edit-address', );
$ico-edit-cards-name: 'ico-edit-cards';
$ico-edit-cards-x: 245px;
$ico-edit-cards-y: 79px;
$ico-edit-cards-offset-x: -245px;
$ico-edit-cards-offset-y: -79px;
$ico-edit-cards-width: 78px;
$ico-edit-cards-height: 78px;
$ico-edit-cards-total-width: 388px;
$ico-edit-cards-total-height: 375px;
$ico-edit-cards-image: '../images/sprite/sprite.png';
$ico-edit-cards: (245px, 79px, -245px, -79px, 78px, 78px, 388px, 375px, '../images/sprite/sprite.png', 'ico-edit-cards', );
$ico-edit-password-name: 'ico-edit-password';
$ico-edit-password-x: 0px;
$ico-edit-password-y: 111px;
$ico-edit-password-offset-x: 0px;
$ico-edit-password-offset-y: -111px;
$ico-edit-password-width: 78px;
$ico-edit-password-height: 78px;
$ico-edit-password-total-width: 388px;
$ico-edit-password-total-height: 375px;
$ico-edit-password-image: '../images/sprite/sprite.png';
$ico-edit-password: (0px, 111px, 0px, -111px, 78px, 78px, 388px, 375px, '../images/sprite/sprite.png', 'ico-edit-password', );
$ico-edit-profile-name: 'ico-edit-profile';
$ico-edit-profile-x: 79px;
$ico-edit-profile-y: 190px;
$ico-edit-profile-offset-x: -79px;
$ico-edit-profile-offset-y: -190px;
$ico-edit-profile-width: 78px;
$ico-edit-profile-height: 78px;
$ico-edit-profile-total-width: 388px;
$ico-edit-profile-total-height: 375px;
$ico-edit-profile-image: '../images/sprite/sprite.png';
$ico-edit-profile: (79px, 190px, -79px, -190px, 78px, 78px, 388px, 375px, '../images/sprite/sprite.png', 'ico-edit-profile', );
$ico-faq-acesso-com-seu-cartao-name: 'ico-faq-acesso-com-seu-cartao';
$ico-faq-acesso-com-seu-cartao-x: 254px;
$ico-faq-acesso-com-seu-cartao-y: 305px;
$ico-faq-acesso-com-seu-cartao-offset-x: -254px;
$ico-faq-acesso-com-seu-cartao-offset-y: -305px;
$ico-faq-acesso-com-seu-cartao-width: 20px;
$ico-faq-acesso-com-seu-cartao-height: 13px;
$ico-faq-acesso-com-seu-cartao-total-width: 388px;
$ico-faq-acesso-com-seu-cartao-total-height: 375px;
$ico-faq-acesso-com-seu-cartao-image: '../images/sprite/sprite.png';
$ico-faq-acesso-com-seu-cartao: (254px, 305px, -254px, -305px, 20px, 13px, 388px, 375px, '../images/sprite/sprite.png', 'ico-faq-acesso-com-seu-cartao', );
$ico-faq-cadastramento-name: 'ico-faq-cadastramento';
$ico-faq-cadastramento-x: 305px;
$ico-faq-cadastramento-y: 212px;
$ico-faq-cadastramento-offset-x: -305px;
$ico-faq-cadastramento-offset-y: -212px;
$ico-faq-cadastramento-width: 18px;
$ico-faq-cadastramento-height: 21px;
$ico-faq-cadastramento-total-width: 388px;
$ico-faq-cadastramento-total-height: 375px;
$ico-faq-cadastramento-image: '../images/sprite/sprite.png';
$ico-faq-cadastramento: (305px, 212px, -305px, -212px, 18px, 21px, 388px, 375px, '../images/sprite/sprite.png', 'ico-faq-cadastramento', );
$ico-faq-cancelamento-de-ingresso-name: 'ico-faq-cancelamento-de-ingresso';
$ico-faq-cancelamento-de-ingresso-x: 167px;
$ico-faq-cancelamento-de-ingresso-y: 305px;
$ico-faq-cancelamento-de-ingresso-offset-x: -167px;
$ico-faq-cancelamento-de-ingresso-offset-y: -305px;
$ico-faq-cancelamento-de-ingresso-width: 22px;
$ico-faq-cancelamento-de-ingresso-height: 17px;
$ico-faq-cancelamento-de-ingresso-total-width: 388px;
$ico-faq-cancelamento-de-ingresso-total-height: 375px;
$ico-faq-cancelamento-de-ingresso-image: '../images/sprite/sprite.png';
$ico-faq-cancelamento-de-ingresso: (167px, 305px, -167px, -305px, 22px, 17px, 388px, 375px, '../images/sprite/sprite.png', 'ico-faq-cancelamento-de-ingresso', );
$ico-faq-comprar-ingresso-name: 'ico-faq-comprar-ingresso';
$ico-faq-comprar-ingresso-x: 211px;
$ico-faq-comprar-ingresso-y: 305px;
$ico-faq-comprar-ingresso-offset-x: -211px;
$ico-faq-comprar-ingresso-offset-y: -305px;
$ico-faq-comprar-ingresso-width: 19px;
$ico-faq-comprar-ingresso-height: 17px;
$ico-faq-comprar-ingresso-total-width: 388px;
$ico-faq-comprar-ingresso-total-height: 375px;
$ico-faq-comprar-ingresso-image: '../images/sprite/sprite.png';
$ico-faq-comprar-ingresso: (211px, 305px, -211px, -305px, 19px, 17px, 388px, 375px, '../images/sprite/sprite.png', 'ico-faq-comprar-ingresso', );
$ico-faq-forma-de-pagamento-name: 'ico-faq-forma-de-pagamento';
$ico-faq-forma-de-pagamento-x: 190px;
$ico-faq-forma-de-pagamento-y: 305px;
$ico-faq-forma-de-pagamento-offset-x: -190px;
$ico-faq-forma-de-pagamento-offset-y: -305px;
$ico-faq-forma-de-pagamento-width: 20px;
$ico-faq-forma-de-pagamento-height: 17px;
$ico-faq-forma-de-pagamento-total-width: 388px;
$ico-faq-forma-de-pagamento-total-height: 375px;
$ico-faq-forma-de-pagamento-image: '../images/sprite/sprite.png';
$ico-faq-forma-de-pagamento: (190px, 305px, -190px, -305px, 20px, 17px, 388px, 375px, '../images/sprite/sprite.png', 'ico-faq-forma-de-pagamento', );
$ico-faq-formas-de-entrega-name: 'ico-faq-formas-de-entrega';
$ico-faq-formas-de-entrega-x: 231px;
$ico-faq-formas-de-entrega-y: 305px;
$ico-faq-formas-de-entrega-offset-x: -231px;
$ico-faq-formas-de-entrega-offset-y: -305px;
$ico-faq-formas-de-entrega-width: 22px;
$ico-faq-formas-de-entrega-height: 13px;
$ico-faq-formas-de-entrega-total-width: 388px;
$ico-faq-formas-de-entrega-total-height: 375px;
$ico-faq-formas-de-entrega-image: '../images/sprite/sprite.png';
$ico-faq-formas-de-entrega: (231px, 305px, -231px, -305px, 22px, 13px, 388px, 375px, '../images/sprite/sprite.png', 'ico-faq-formas-de-entrega', );
$ico-faq-funcionario-ambev-name: 'ico-faq-funcionario-ambev';
$ico-faq-funcionario-ambev-x: 161px;
$ico-faq-funcionario-ambev-y: 83px;
$ico-faq-funcionario-ambev-offset-x: -161px;
$ico-faq-funcionario-ambev-offset-y: -83px;
$ico-faq-funcionario-ambev-width: 22px;
$ico-faq-funcionario-ambev-height: 22px;
$ico-faq-funcionario-ambev-total-width: 388px;
$ico-faq-funcionario-ambev-total-height: 375px;
$ico-faq-funcionario-ambev-image: '../images/sprite/sprite.png';
$ico-faq-funcionario-ambev: (161px, 83px, -161px, -83px, 22px, 22px, 388px, 375px, '../images/sprite/sprite.png', 'ico-faq-funcionario-ambev', );
$ico-faq-meia-entrada-name: 'ico-faq-meia-entrada';
$ico-faq-meia-entrada-x: 62px;
$ico-faq-meia-entrada-y: 336px;
$ico-faq-meia-entrada-offset-x: -62px;
$ico-faq-meia-entrada-offset-y: -336px;
$ico-faq-meia-entrada-width: 20px;
$ico-faq-meia-entrada-height: 14px;
$ico-faq-meia-entrada-total-width: 388px;
$ico-faq-meia-entrada-total-height: 375px;
$ico-faq-meia-entrada-image: '../images/sprite/sprite.png';
$ico-faq-meia-entrada: (62px, 336px, -62px, -336px, 20px, 14px, 388px, 375px, '../images/sprite/sprite.png', 'ico-faq-meia-entrada', );
$ico-faq-socio-torcedor-name: 'ico-faq-socio-torcedor';
$ico-faq-socio-torcedor-x: 184px;
$ico-faq-socio-torcedor-y: 83px;
$ico-faq-socio-torcedor-offset-x: -184px;
$ico-faq-socio-torcedor-offset-y: -83px;
$ico-faq-socio-torcedor-width: 22px;
$ico-faq-socio-torcedor-height: 22px;
$ico-faq-socio-torcedor-total-width: 388px;
$ico-faq-socio-torcedor-total-height: 375px;
$ico-faq-socio-torcedor-image: '../images/sprite/sprite.png';
$ico-faq-socio-torcedor: (184px, 83px, -184px, -83px, 22px, 22px, 388px, 375px, '../images/sprite/sprite.png', 'ico-faq-socio-torcedor', );
$ico-form-central-de-atendimento-name: 'ico-form-central-de-atendimento';
$ico-form-central-de-atendimento-x: 359px;
$ico-form-central-de-atendimento-y: 269px;
$ico-form-central-de-atendimento-offset-x: -359px;
$ico-form-central-de-atendimento-offset-y: -269px;
$ico-form-central-de-atendimento-width: 21px;
$ico-form-central-de-atendimento-height: 21px;
$ico-form-central-de-atendimento-total-width: 388px;
$ico-form-central-de-atendimento-total-height: 375px;
$ico-form-central-de-atendimento-image: '../images/sprite/sprite.png';
$ico-form-central-de-atendimento: (359px, 269px, -359px, -269px, 21px, 21px, 388px, 375px, '../images/sprite/sprite.png', 'ico-form-central-de-atendimento', );
$ico-form-faca-seu-evento-conosco-name: 'ico-form-faca-seu-evento-conosco';
$ico-form-faca-seu-evento-conosco-x: 0px;
$ico-form-faca-seu-evento-conosco-y: 336px;
$ico-form-faca-seu-evento-conosco-offset-x: 0px;
$ico-form-faca-seu-evento-conosco-offset-y: -336px;
$ico-form-faca-seu-evento-conosco-width: 20px;
$ico-form-faca-seu-evento-conosco-height: 22px;
$ico-form-faca-seu-evento-conosco-total-width: 388px;
$ico-form-faca-seu-evento-conosco-total-height: 375px;
$ico-form-faca-seu-evento-conosco-image: '../images/sprite/sprite.png';
$ico-form-faca-seu-evento-conosco: (0px, 336px, 0px, -336px, 20px, 22px, 388px, 375px, '../images/sprite/sprite.png', 'ico-form-faca-seu-evento-conosco', );
$ico-form-seja-um-ponto-de-venda-name: 'ico-form-seja-um-ponto-de-venda';
$ico-form-seja-um-ponto-de-venda-x: 21px;
$ico-form-seja-um-ponto-de-venda-y: 336px;
$ico-form-seja-um-ponto-de-venda-offset-x: -21px;
$ico-form-seja-um-ponto-de-venda-offset-y: -336px;
$ico-form-seja-um-ponto-de-venda-width: 20px;
$ico-form-seja-um-ponto-de-venda-height: 18px;
$ico-form-seja-um-ponto-de-venda-total-width: 388px;
$ico-form-seja-um-ponto-de-venda-total-height: 375px;
$ico-form-seja-um-ponto-de-venda-image: '../images/sprite/sprite.png';
$ico-form-seja-um-ponto-de-venda: (21px, 336px, -21px, -336px, 20px, 18px, 388px, 375px, '../images/sprite/sprite.png', 'ico-form-seja-um-ponto-de-venda', );
$ico-googleplay-name: 'ico-googleplay';
$ico-googleplay-x: 103px;
$ico-googleplay-y: 269px;
$ico-googleplay-offset-x: -103px;
$ico-googleplay-offset-y: -269px;
$ico-googleplay-width: 102px;
$ico-googleplay-height: 35px;
$ico-googleplay-total-width: 388px;
$ico-googleplay-total-height: 375px;
$ico-googleplay-image: '../images/sprite/sprite.png';
$ico-googleplay: (103px, 269px, -103px, -269px, 102px, 35px, 388px, 375px, '../images/sprite/sprite.png', 'ico-googleplay', );
$ico-my-address-name: 'ico-my-address';
$ico-my-address-x: 42px;
$ico-my-address-y: 336px;
$ico-my-address-offset-x: -42px;
$ico-my-address-offset-y: -336px;
$ico-my-address-width: 19px;
$ico-my-address-height: 18px;
$ico-my-address-total-width: 388px;
$ico-my-address-total-height: 375px;
$ico-my-address-image: '../images/sprite/sprite.png';
$ico-my-address: (42px, 336px, -42px, -336px, 19px, 18px, 388px, 375px, '../images/sprite/sprite.png', 'ico-my-address', );
$ico-my-cards-name: 'ico-my-cards';
$ico-my-cards-x: 275px;
$ico-my-cards-y: 305px;
$ico-my-cards-offset-x: -275px;
$ico-my-cards-offset-y: -305px;
$ico-my-cards-width: 20px;
$ico-my-cards-height: 13px;
$ico-my-cards-total-width: 388px;
$ico-my-cards-total-height: 375px;
$ico-my-cards-image: '../images/sprite/sprite.png';
$ico-my-cards: (275px, 305px, -275px, -305px, 20px, 13px, 388px, 375px, '../images/sprite/sprite.png', 'ico-my-cards', );
$ico-my-dashboard-name: 'ico-my-dashboard';
$ico-my-dashboard-x: 305px;
$ico-my-dashboard-y: 190px;
$ico-my-dashboard-offset-x: -305px;
$ico-my-dashboard-offset-y: -190px;
$ico-my-dashboard-width: 18px;
$ico-my-dashboard-height: 21px;
$ico-my-dashboard-total-width: 388px;
$ico-my-dashboard-total-height: 375px;
$ico-my-dashboard-image: '../images/sprite/sprite.png';
$ico-my-dashboard: (305px, 190px, -305px, -190px, 18px, 21px, 388px, 375px, '../images/sprite/sprite.png', 'ico-my-dashboard', );
$ico-my-password-name: 'ico-my-password';
$ico-my-password-x: 305px;
$ico-my-password-y: 234px;
$ico-my-password-offset-x: -305px;
$ico-my-password-offset-y: -234px;
$ico-my-password-width: 16px;
$ico-my-password-height: 19px;
$ico-my-password-total-width: 388px;
$ico-my-password-total-height: 375px;
$ico-my-password-image: '../images/sprite/sprite.png';
$ico-my-password: (305px, 234px, -305px, -234px, 16px, 19px, 388px, 375px, '../images/sprite/sprite.png', 'ico-my-password', );
$ico-my-profile-name: 'ico-my-profile';
$ico-my-profile-x: 124px;
$ico-my-profile-y: 305px;
$ico-my-profile-offset-x: -124px;
$ico-my-profile-offset-y: -305px;
$ico-my-profile-width: 21px;
$ico-my-profile-height: 21px;
$ico-my-profile-total-width: 388px;
$ico-my-profile-total-height: 375px;
$ico-my-profile-image: '../images/sprite/sprite.png';
$ico-my-profile: (124px, 305px, -124px, -305px, 21px, 21px, 388px, 375px, '../images/sprite/sprite.png', 'ico-my-profile', );
$ico-my-sales-name: 'ico-my-sales';
$ico-my-sales-x: 207px;
$ico-my-sales-y: 83px;
$ico-my-sales-offset-x: -207px;
$ico-my-sales-offset-y: -83px;
$ico-my-sales-width: 22px;
$ico-my-sales-height: 22px;
$ico-my-sales-total-width: 388px;
$ico-my-sales-total-height: 375px;
$ico-my-sales-image: '../images/sprite/sprite.png';
$ico-my-sales: (207px, 83px, -207px, -83px, 22px, 22px, 388px, 375px, '../images/sprite/sprite.png', 'ico-my-sales', );
$ico-no-address-name: 'ico-no-address';
$ico-no-address-x: 237px;
$ico-no-address-y: 190px;
$ico-no-address-offset-x: -237px;
$ico-no-address-offset-y: -190px;
$ico-no-address-width: 67px;
$ico-no-address-height: 65px;
$ico-no-address-total-width: 388px;
$ico-no-address-total-height: 375px;
$ico-no-address-image: '../images/sprite/sprite.png';
$ico-no-address: (237px, 190px, -237px, -190px, 67px, 65px, 388px, 375px, '../images/sprite/sprite.png', 'ico-no-address', );
$ico-no-sale-name: 'ico-no-sale';
$ico-no-sale-x: 324px;
$ico-no-sale-y: 0px;
$ico-no-sale-offset-x: -324px;
$ico-no-sale-offset-y: 0px;
$ico-no-sale-width: 64px;
$ico-no-sale-height: 64px;
$ico-no-sale-total-width: 388px;
$ico-no-sale-total-height: 375px;
$ico-no-sale-image: '../images/sprite/sprite.png';
$ico-no-sale: (324px, 0px, -324px, 0px, 64px, 64px, 388px, 375px, '../images/sprite/sprite.png', 'ico-no-sale', );
$ico-phone-footer-name: 'ico-phone-footer';
$ico-phone-footer-x: 375px;
$ico-phone-footer-y: 65px;
$ico-phone-footer-offset-x: -375px;
$ico-phone-footer-offset-y: -65px;
$ico-phone-footer-width: 11px;
$ico-phone-footer-height: 11px;
$ico-phone-footer-total-width: 388px;
$ico-phone-footer-total-height: 375px;
$ico-phone-footer-image: '../images/sprite/sprite.png';
$ico-phone-footer: (375px, 65px, -375px, -65px, 11px, 11px, 388px, 375px, '../images/sprite/sprite.png', 'ico-phone-footer', );
$ico-promoitem-name: 'ico-promoitem';
$ico-promoitem-x: 296px;
$ico-promoitem-y: 158px;
$ico-promoitem-offset-x: -296px;
$ico-promoitem-offset-y: -158px;
$ico-promoitem-width: 22px;
$ico-promoitem-height: 23px;
$ico-promoitem-total-width: 388px;
$ico-promoitem-total-height: 375px;
$ico-promoitem-image: '../images/sprite/sprite.png';
$ico-promoitem: (296px, 158px, -296px, -158px, 22px, 23px, 388px, 375px, '../images/sprite/sprite.png', 'ico-promoitem', );
$ico-social-facebook-footer-name: 'ico-social-facebook-footer';
$ico-social-facebook-footer-x: 93px;
$ico-social-facebook-footer-y: 305px;
$ico-social-facebook-footer-offset-x: -93px;
$ico-social-facebook-footer-offset-y: -305px;
$ico-social-facebook-footer-width: 30px;
$ico-social-facebook-footer-height: 30px;
$ico-social-facebook-footer-total-width: 388px;
$ico-social-facebook-footer-total-height: 375px;
$ico-social-facebook-footer-image: '../images/sprite/sprite.png';
$ico-social-facebook-footer: (93px, 305px, -93px, -305px, 30px, 30px, 388px, 375px, '../images/sprite/sprite.png', 'ico-social-facebook-footer', );
$ico-social-instagram-footer-name: 'ico-social-instagram-footer';
$ico-social-instagram-footer-x: 62px;
$ico-social-instagram-footer-y: 305px;
$ico-social-instagram-footer-offset-x: -62px;
$ico-social-instagram-footer-offset-y: -305px;
$ico-social-instagram-footer-width: 30px;
$ico-social-instagram-footer-height: 30px;
$ico-social-instagram-footer-total-width: 388px;
$ico-social-instagram-footer-total-height: 375px;
$ico-social-instagram-footer-image: '../images/sprite/sprite.png';
$ico-social-instagram-footer: (62px, 305px, -62px, -305px, 30px, 30px, 388px, 375px, '../images/sprite/sprite.png', 'ico-social-instagram-footer', );
$ico-social-twitter-footer-name: 'ico-social-twitter-footer';
$ico-social-twitter-footer-x: 0px;
$ico-social-twitter-footer-y: 305px;
$ico-social-twitter-footer-offset-x: 0px;
$ico-social-twitter-footer-offset-y: -305px;
$ico-social-twitter-footer-width: 30px;
$ico-social-twitter-footer-height: 30px;
$ico-social-twitter-footer-total-width: 388px;
$ico-social-twitter-footer-total-height: 375px;
$ico-social-twitter-footer-image: '../images/sprite/sprite.png';
$ico-social-twitter-footer: (0px, 305px, 0px, -305px, 30px, 30px, 388px, 375px, '../images/sprite/sprite.png', 'ico-social-twitter-footer', );
$ico-social-youtube-footer-name: 'ico-social-youtube-footer';
$ico-social-youtube-footer-x: 31px;
$ico-social-youtube-footer-y: 305px;
$ico-social-youtube-footer-offset-x: -31px;
$ico-social-youtube-footer-offset-y: -305px;
$ico-social-youtube-footer-width: 30px;
$ico-social-youtube-footer-height: 30px;
$ico-social-youtube-footer-total-width: 388px;
$ico-social-youtube-footer-total-height: 375px;
$ico-social-youtube-footer-image: '../images/sprite/sprite.png';
$ico-social-youtube-footer: (31px, 305px, -31px, -305px, 30px, 30px, 388px, 375px, '../images/sprite/sprite.png', 'ico-social-youtube-footer', );
$ico-ticket-small-name: 'ico-ticket-small';
$ico-ticket-small-x: 0px;
$ico-ticket-small-y: 359px;
$ico-ticket-small-offset-x: 0px;
$ico-ticket-small-offset-y: -359px;
$ico-ticket-small-width: 16px;
$ico-ticket-small-height: 16px;
$ico-ticket-small-total-width: 388px;
$ico-ticket-small-total-height: 375px;
$ico-ticket-small-image: '../images/sprite/sprite.png';
$ico-ticket-small: (0px, 359px, 0px, -359px, 16px, 16px, 388px, 375px, '../images/sprite/sprite.png', 'ico-ticket-small', );
$img-cards-payment-full-name: 'img-cards-payment-full';
$img-cards-payment-full-x: 0px;
$img-cards-payment-full-y: 0px;
$img-cards-payment-full-offset-x: 0px;
$img-cards-payment-full-offset-y: 0px;
$img-cards-payment-full-width: 160px;
$img-cards-payment-full-height: 110px;
$img-cards-payment-full-total-width: 388px;
$img-cards-payment-full-total-height: 375px;
$img-cards-payment-full-image: '../images/sprite/sprite.png';
$img-cards-payment-full: (0px, 0px, 0px, 0px, 160px, 110px, 388px, 375px, '../images/sprite/sprite.png', 'img-cards-payment-full', );
$payment-flag-alelo-name: 'payment-flag-alelo';
$payment-flag-alelo-x: 324px;
$payment-flag-alelo-y: 165px;
$payment-flag-alelo-offset-x: -324px;
$payment-flag-alelo-offset-y: -165px;
$payment-flag-alelo-width: 50px;
$payment-flag-alelo-height: 32px;
$payment-flag-alelo-total-width: 388px;
$payment-flag-alelo-total-height: 375px;
$payment-flag-alelo-image: '../images/sprite/sprite.png';
$payment-flag-alelo: (324px, 165px, -324px, -165px, 50px, 32px, 388px, 375px, '../images/sprite/sprite.png', 'payment-flag-alelo', );
$payment-flag-amex-name: 'payment-flag-amex';
$payment-flag-amex-x: 324px;
$payment-flag-amex-y: 132px;
$payment-flag-amex-offset-x: -324px;
$payment-flag-amex-offset-y: -132px;
$payment-flag-amex-width: 50px;
$payment-flag-amex-height: 32px;
$payment-flag-amex-total-width: 388px;
$payment-flag-amex-total-height: 375px;
$payment-flag-amex-image: '../images/sprite/sprite.png';
$payment-flag-amex: (324px, 132px, -324px, -132px, 50px, 32px, 388px, 375px, '../images/sprite/sprite.png', 'payment-flag-amex', );
$payment-flag-debit-maestro-name: 'payment-flag-debit-maestro';
$payment-flag-debit-maestro-x: 324px;
$payment-flag-debit-maestro-y: 99px;
$payment-flag-debit-maestro-offset-x: -324px;
$payment-flag-debit-maestro-offset-y: -99px;
$payment-flag-debit-maestro-width: 50px;
$payment-flag-debit-maestro-height: 32px;
$payment-flag-debit-maestro-total-width: 388px;
$payment-flag-debit-maestro-total-height: 375px;
$payment-flag-debit-maestro-image: '../images/sprite/sprite.png';
$payment-flag-debit-maestro: (324px, 99px, -324px, -99px, 50px, 32px, 388px, 375px, '../images/sprite/sprite.png', 'payment-flag-debit-maestro', );
$payment-flag-debit-visa-name: 'payment-flag-debit-visa';
$payment-flag-debit-visa-x: 308px;
$payment-flag-debit-visa-y: 269px;
$payment-flag-debit-visa-offset-x: -308px;
$payment-flag-debit-visa-offset-y: -269px;
$payment-flag-debit-visa-width: 50px;
$payment-flag-debit-visa-height: 32px;
$payment-flag-debit-visa-total-width: 388px;
$payment-flag-debit-visa-total-height: 375px;
$payment-flag-debit-visa-image: '../images/sprite/sprite.png';
$payment-flag-debit-visa: (308px, 269px, -308px, -269px, 50px, 32px, 388px, 375px, '../images/sprite/sprite.png', 'payment-flag-debit-visa', );
$payment-flag-diners-name: 'payment-flag-diners';
$payment-flag-diners-x: 245px;
$payment-flag-diners-y: 158px;
$payment-flag-diners-offset-x: -245px;
$payment-flag-diners-offset-y: -158px;
$payment-flag-diners-width: 50px;
$payment-flag-diners-height: 31px;
$payment-flag-diners-total-width: 388px;
$payment-flag-diners-total-height: 375px;
$payment-flag-diners-image: '../images/sprite/sprite.png';
$payment-flag-diners: (245px, 158px, -245px, -158px, 50px, 31px, 388px, 375px, '../images/sprite/sprite.png', 'payment-flag-diners', );
$payment-flag-elo-name: 'payment-flag-elo';
$payment-flag-elo-x: 324px;
$payment-flag-elo-y: 65px;
$payment-flag-elo-offset-x: -324px;
$payment-flag-elo-offset-y: -65px;
$payment-flag-elo-width: 50px;
$payment-flag-elo-height: 33px;
$payment-flag-elo-total-width: 388px;
$payment-flag-elo-total-height: 375px;
$payment-flag-elo-image: '../images/sprite/sprite.png';
$payment-flag-elo: (324px, 65px, -324px, -65px, 50px, 33px, 388px, 375px, '../images/sprite/sprite.png', 'payment-flag-elo', );
$payment-flag-hiper-name: 'payment-flag-hiper';
$payment-flag-hiper-x: 206px;
$payment-flag-hiper-y: 269px;
$payment-flag-hiper-offset-x: -206px;
$payment-flag-hiper-offset-y: -269px;
$payment-flag-hiper-width: 50px;
$payment-flag-hiper-height: 32px;
$payment-flag-hiper-total-width: 388px;
$payment-flag-hiper-total-height: 375px;
$payment-flag-hiper-image: '../images/sprite/sprite.png';
$payment-flag-hiper: (206px, 269px, -206px, -269px, 50px, 32px, 388px, 375px, '../images/sprite/sprite.png', 'payment-flag-hiper', );
$payment-flag-hipercard-name: 'payment-flag-hipercard';
$payment-flag-hipercard-x: 324px;
$payment-flag-hipercard-y: 231px;
$payment-flag-hipercard-offset-x: -324px;
$payment-flag-hipercard-offset-y: -231px;
$payment-flag-hipercard-width: 50px;
$payment-flag-hipercard-height: 32px;
$payment-flag-hipercard-total-width: 388px;
$payment-flag-hipercard-total-height: 375px;
$payment-flag-hipercard-image: '../images/sprite/sprite.png';
$payment-flag-hipercard: (324px, 231px, -324px, -231px, 50px, 32px, 388px, 375px, '../images/sprite/sprite.png', 'payment-flag-hipercard', );
$payment-flag-master-name: 'payment-flag-master';
$payment-flag-master-x: 324px;
$payment-flag-master-y: 198px;
$payment-flag-master-offset-x: -324px;
$payment-flag-master-offset-y: -198px;
$payment-flag-master-width: 50px;
$payment-flag-master-height: 32px;
$payment-flag-master-total-width: 388px;
$payment-flag-master-total-height: 375px;
$payment-flag-master-image: '../images/sprite/sprite.png';
$payment-flag-master: (324px, 198px, -324px, -198px, 50px, 32px, 388px, 375px, '../images/sprite/sprite.png', 'payment-flag-master', );
$payment-flag-visa-name: 'payment-flag-visa';
$payment-flag-visa-x: 257px;
$payment-flag-visa-y: 269px;
$payment-flag-visa-offset-x: -257px;
$payment-flag-visa-offset-y: -269px;
$payment-flag-visa-width: 50px;
$payment-flag-visa-height: 32px;
$payment-flag-visa-total-width: 388px;
$payment-flag-visa-total-height: 375px;
$payment-flag-visa-image: '../images/sprite/sprite.png';
$payment-flag-visa: (257px, 269px, -257px, -269px, 50px, 32px, 388px, 375px, '../images/sprite/sprite.png', 'payment-flag-visa', );
$spritesheet-width: 388px;
$spritesheet-height: 375px;
$spritesheet-image: '../images/sprite/sprite.png';
$spritesheet-sprites: ($ico-access-user, $ico-account-confirm-user, $ico-account-no-confirm-user, $ico-account-ticket, $ico-applestore, $ico-attention-error, $ico-close-box, $ico-edit-address, $ico-edit-cards, $ico-edit-password, $ico-edit-profile, $ico-faq-acesso-com-seu-cartao, $ico-faq-cadastramento, $ico-faq-cancelamento-de-ingresso, $ico-faq-comprar-ingresso, $ico-faq-forma-de-pagamento, $ico-faq-formas-de-entrega, $ico-faq-funcionario-ambev, $ico-faq-meia-entrada, $ico-faq-socio-torcedor, $ico-form-central-de-atendimento, $ico-form-faca-seu-evento-conosco, $ico-form-seja-um-ponto-de-venda, $ico-googleplay, $ico-my-address, $ico-my-cards, $ico-my-dashboard, $ico-my-password, $ico-my-profile, $ico-my-sales, $ico-no-address, $ico-no-sale, $ico-phone-footer, $ico-promoitem, $ico-social-facebook-footer, $ico-social-instagram-footer, $ico-social-twitter-footer, $ico-social-youtube-footer, $ico-ticket-small, $img-cards-payment-full, $payment-flag-alelo, $payment-flag-amex, $payment-flag-debit-maestro, $payment-flag-debit-visa, $payment-flag-diners, $payment-flag-elo, $payment-flag-hiper, $payment-flag-hipercard, $payment-flag-master, $payment-flag-visa, );
$spritesheet: (388px, 375px, '../images/sprite/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
